@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    margin: 0;
    padding-top: 5px;
    box-sizing: border-box;
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #212529;
}

.navbar h2 a {
    color: #f5a525;
    font-size: 40px;
    padding: 9px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 50px;
    padding-right: 70px;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    font-size: 20px;
}

.navbar ul li a {
    color: white;
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 10px;
}

.navbar ul li .activenav {
    color: rgb(255, 157, 0);
}

.navbar ul li a:hover, .navbar ul li .activenav:hover {
    background-color: rgb(255, 157, 0);
    color: black;
}

.quotemain h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    color: aliceblue;
}

.quotemain h1 span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

.quotemain h1 span.fade {
    opacity: 1;
    transform: translateY(0);
}

.quotesub h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: rgb(102, 255, 0);
}

.buttons {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 70px;
}

.buttons button {
    font-size: 30px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #dd5d00;
    background-size: 50px 50px;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, transform 0.5s;
}

.buttons button:hover {
    background-color: #ff9649;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s, transform 0.5s;
}

.buttons button.clicked {
    transform: scale(0.9);
    transition: transform 0.3s;
}
