<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bustravel.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <title>Fero'</title>
</head>
<body>
    <div class="navbar">
        <h2><a href="{{ url_for('landing') }}">Fero'</a></h2>
        <ul>
            <li><a href="{{ url_for('buss_mode') }}">Back <i class="fa fa-chevron-right"></i></a></li>
            <!-- <li><a href="aboutus.html">About Us</a></li>
            <li><a href="#">Recent Bookings</a></li>
            <li><a href="customercare.html">Customer Care</a></li>
            <li><a href="#">Profile</a></li> -->
        </ul>
    </div>

    <div class="quotemain">
        <h1>Book your bus ticket!</h1>
    </div>
    <div class="container">
        <div>
            <div class="From">
                <div class="value">
                    <input class="frombox" type="text" placeholder="From Station" list="from-list">
                    <datalist id="from-list">
                        <option value="Madhapur">
                        <option value="Kukatpally">
                    </datalist>
                    <!-- <img class="image" src="swap.png" alt="swap"> -->
                    <input class="tobox" type="text" placeholder="To Station" list="to-list">
                    <datalist id="to-list">
                        <option value="Madhapur">
                        <option value="Kukatpally">
                    </datalist>
                    <input class="date" type="text" placeholder="DD/MM/YYYY">
                    <script>
                        flatpickr(".date", {
                            dateFormat: "Y-m-d", // You can customize the format here
                        });
                    </script>
                    <button class="search" type="submit">SEARCH BUS</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
