
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/profile.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Fero'</title>
</head>
<body>
    <div class="navbar">
        <h2><a href="{{ url_for('landing') }}">Fero'</a></h2>
        <ul>
            <li><a href="{{ url_for('landing') }}" >Home</a></li>
            <li><a href="#">Recent Bookings</a></li>
            <li><a class="activenav" href="{{ url_for('profile') }}">Profile</a></li>
            <!-- <li><a href="profile.html"><i class="fa fa-user"></i></a></li> -->
            <li><a href="#"><i class="fa fa-bars"></i></a>
                <div class="dropdown">
                    <ul>
                        <li><a href="">Terms Of Services</a></li>
                        <li><a href="{{ url_for('privacypolicy') }}">Privacy Policy </a></li>
                        <li><a href="{{ url_for('customer_care') }}">Customer Care</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="section">
            <h2 class="pro">Profile</h2>
            <div class="profile-pic-container">
                <div class="profile-info">
                    <div class="profile-item">
                        <span class="label">Name</span>
                        <span class="value">Bhavesh Reddy</span>
                    </div>
                    <div class="profile-item">
                        <span class="label">Date Of Birth</span>
                        <span class="value">December 4, 2005</span>
                    </div>
                    <div class="profile-item">
                        <span class="label">Gender</span>
                        <span class="value">Male</span>
                    </div>
                </div>
                <div class="profile-pic">
                    <img src="static/images/account.png" alt="Picture">
                </div>
            </div>
        </div>

        <div class="section">
            <h3>Contact Info</h3>
            <div class="contact-info">
                <div class="contact-item">
                    <span class="label">Email</span>
                    <span class="value">bhaveshk1617@gmail.com</span>
                </div>
                <div class="contact-item">
                    <span class="label">Phone</span>
                    <span class="value">8688341915</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>