
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/trainmode.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Fero'</title>
</head>
<body>
    <div class="navbar">
        <h2><a href="{{ url_for('landing') }}">Fero'</a></h2>
        <ul>
            <li><a href="{{ url_for('mode_of_transport') }}" >Back <i class="fa fa-chevron-right"></i></a></li>
            <!-- <li><a href="aboutus.html">About Us</a></li>
            <li><a href="#">Recent Bookings</a></li>
            <li><a href="customercare.html">Customer Care</a></li>
            <li><a href="#">Profile</a></li> -->
        </ul>
    </div>

    <div class="quotemain">
        <h1>Track or Travel</h1>
    </div>
    <div class="buttons">
        <button>Track</button>
        <form action="{{ url_for('train_travel') }}" method="get">
            <button>Travel</button>
        </form>
        
    </div>

</body>
</html>
