
.top-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #d8e8f9;
    width: 100%;
    height: 100%;
}

.baground-img-home-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.baground-img-home-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.span {
    color: #000;
}

.welcome-text {
    position: absolute;
    top: 670px;
    left: 74px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    color: #ffbd3e;
}

.fero {
    position: absolute;
    top: 0px;
    left: 77px;
}

.around-the-globe {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 67px;
    height: 63.7px;
    object-fit: cover;
}

.fero-logo {
    position: absolute;
    top: 25px;
    left: 40px;
    width: 188px;
    height: 70px;
}

.home {
    position: absolute;
    top: 18px;
    left: 0px;
}

.about {
    position: absolute;
    top: 18px;
    left: 117px;
}

.recent-bookings {
    position: absolute;
    top: 18px;
    left: 236px;
}

.customer-care {
    position: absolute;
    top: 18px;
    left: 489px;
}

.profile-circle {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #d0d2ff;
    width: 70px;
    height: 70px;
}

.account-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.profile {
    position: absolute;
    top: 0px;
    left: 723px;
    width: 70px;
    height: 70px;
}

.top-navigation {
    position: absolute;
    top: 30px;
    left: 885px;
    width: 793px;
    height: 70px;
    font-size: 24px;
}

.top-navigation a{
    color: #fff;
    text-decoration: none;
}

.top-navigation div {
    display: inline-block;
    margin-right: 20px; 
    cursor: pointer;
}

.top-navigation div:hover {
    text-decoration: underline;
}

.where-your {
    margin: 0;
}

.text-container {
    position: absolute;
    top: 0px;
    left: 0px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}

.text-container1 {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(3px);
    -webkit-text-stroke: 0.6px black;
    mix-blend-mode: hard-light;
}

.text-container2 {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(1px);
    -webkit-text-stroke: 0.9px black;
    mix-blend-mode: hard-light;
}

.text-container3 {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-text-stroke: 0.6px black;
}

.text-container4 {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(0.1px);
    -webkit-text-stroke: 0.4px black;
}

.text-container5 {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(0.07px);
    -webkit-text-stroke: 0.2px black;
    color:aliceblue;
}

.where-your-journey {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 1186px;
    height: 370px;
    color: transparent;
}

.text {
    position: absolute;
    top: 130px;
    left: 74px;
    width: 1187px;
    height: 372px;
    font-size: 120px;
    color:black;
}

.transportation {
    position: absolute;
    top: 800px;
    left: 80px;
    width: 1200px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 100px; /* Adds a 50px gap between the flex items */
}

.bus, .train, .metro {
    width: calc((100% - 100px) / 3); /* Adjust width to fit three elements with 50px gaps */
    height: 80%;
    font-size: 40px;
    background-color: #dd5d00;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bus:hover, .train:hover, .metro:hover {
    background-color: #ffad71;
}

.mode_of_transport-page {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #eef6ff, #d1e6ff);
    height: 1117px;
    overflow: hidden;
    text-align: left;
    font-size: 48px;
    color: #fff;
    font-family: 'RocknRoll One';
}
